attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
clean-text==0.1.1
Click==7.0
cymem==2.0.2
decorator==4.4.0
Flask==1.1.2
Flask-Caching==1.7.2
Flask-SQLAlchemy==2.4.0
ftfy==5.5.1
gunicorn==20.0.4 
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.0.1
MarkupSafe==1.1.1
murmurhash==1.0.2
numpy==1.16.4
pdf2image==1.5.4
pdftotext==2.1.1
Pillow==8.1.1
plac==0.9.6
psycopg2==2.8.3
pyrsistent==0.15.2
redis==3.2.1
requests==2.22.0
six==1.12.0
spacy==2.3.5
SQLAlchemy==1.3.5
SQLAlchemy-Searchable==1.0.3
SQLAlchemy-Utils==0.34.0
Unidecode==1.1.1
urllib3==1.25.3
validators==0.13.0
wcwidth==0.1.7
Werkzeug==1.0.1