clean-text==0.1.1
Click==8.1.3
Flask==2.3.2
Flask-Caching==2.0.1
Flask-SQLAlchemy==2.5.1
gunicorn==22.0.0
Jinja2==3.1.6
pdf2image==1.5.4
pdftotext==2.1.1
Pillow==10.3.0
psycopg2==2.9.5
redis==4.4.4
requests==2.32.4
spacy==3.7.5
SQLAlchemy==1.4.53
SQLAlchemy-Searchable==2.1.0
SQLAlchemy-Utils==0.41.2
unidecode==1.1.1
Werkzeug==3.1.5
markdown==3.4.4
python-frontmatter==1.0.1
Pygments==2.16.1
