<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge" />
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/lib/Chart.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script defer src="/static/js/lib/jquery.min.js"></script>
    <script defer src="/static/js/lib/popper.min.js"></script>
    <script defer src="/static/js/lib/bootstrap.min.js"></script>
    <script defer src="/static/js/lib/lazysizes.min.js"></script>
    <script defer src="/static/js/lib/Chart.min.js"></script>
    <script defer src="/static/js/lib/unfetch.js"></script>
    <script defer src="/static/js/lib/es6-promise.auto.min.js"></script>
    <script defer src="/static/js/lib/FileSaver.min.js"></script>
    <script defer src="/static/js/scripts.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <meta
      property="og:url"
      content="https://verfassungsschutzberichte.de{{ request.full_path }}"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@vsberichte" />
    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/static/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    {% block social_media %} {% endblock %}
  </head>

  <body>
    {% block nav %}{% endblock %}
    <div class="container">
      {% block content %}{% endblock %}
      <div class="push"></div>
    </div>

    <hr />
    <footer class="my-5">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#daten">Daten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#kontakt">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/impressum">Impressum</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://okfn.de/impressum/#datenschutzerkl%C3%A4rung"
            >Datenschutz</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/vsberichte"
            ><img
              height="20"
              width="20"
              src="/static/twitter.svg"
            />@vsberichte</a
          >
        </li>
      </ul>
      <div
        style="padding: 0.5rem; margin: 3rem auto; max-width: 30rem"
        class="small"
      >
        <form
          method="post"
          action="https://listen.daten.cool/subscription/form"
          class="listmonk-form"
        >
          <div>
            <h5 id="newsletter">Newsletter</h5>
            <input type="hidden" name="nonce" />

            <p>
              <input
                hidden
                id="4539a"
                type="checkbox"
                name="l"
                checked
                value="4539a1e9-ea50-4a91-bd6e-6730ea3eedd0"
              />
              <span
                >Maximal einmal pro Monate informieren wir über Neuigkeiten bei
                Verfassungsschutzberichte.de, wie neue Analysen oder neue
                Berichte.</span
              >
            </p>

            <p>
              <input type="email" name="email" required placeholder="E-Mail" />
            </p>

            <p>
              <input type="submit" value="Abonnieren" class="btn btn-primary" />
            </p>
          </div>
        </form>
      </div>
      <div style="padding-top: 54px"></div>
    </footer>

    <!-- Matomo -->
    <script>
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "https://matomo.daten.cool/";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "3"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = u + "matomo.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <noscript
      ><p>
        <img
          src="https://matomo.daten.cool/matomo.php?idsite=3&amp;rec=1"
          style="border: 0"
          alt=""
        /></p
    ></noscript>
    <!-- End Matomo Code -->
  </body>
</html>
